

@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* Mobile view */
  /* The web site should be mobile responsive and be usable between 320px and 480px.
    The web site should be coded in using a mobile-first methodology
    Start with the mobile view and use “min-width” media queries to re-flow the layout for tablet and desktop views
   */
}

body{
    background-color: azure;
    background-image: url(images/1.jpg);
    background-repeat: no-repeat;
    
}

#textbox {
  margin-top:50px;
  background-color: skyblue;
  position: relative;
  width: 800px;
  height: 600px;
  opacity: 0.8;
  top: -12px;
  left: 35px;
  text-align: center;
  border: 2px solid black;
}

#content {
  padding: 100px 30px;
}
