

@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* Mobile view */
  /* The web site should be mobile responsive and be usable between 320px and 480px.
    The web site should be coded in using a mobile-first methodology
    Start with the mobile view and use “min-width” media queries to re-flow the layout for tablet and desktop views
   */
}

body{
    background-color: azure;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }